$theme-colors: (
	"primary" : #1B1A26,
	"secondary" : #382F30,
	"armygreen" : #4D6041,
	"palegreen" : #4F564E,
	"browny" : #3F3F3C,
	"dwhite" : #E2E1D9,
	"whte" : #fff,
	"jumbobg": #38B7A6,
	"primary2": #007bc4,
	"secondary2": #041c2c,
	"primary3": #7f8c8d, //grey
	"secondary3": #57606f //grey
	);
@import "../node_modules/bootstrap/scss/bootstrap";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Serif', serif;
	// font-family: 'Anton', sans-serif;
	// font-family: 'Titillium Web', sans-serif;
	// font-family: 'Noto Sans JP', sans-serif;

}

#a-active{
	color: #1B1A26;
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 5px 8px;
	margin-top: 1px;
	border-radius: 3px;
	margin-left: 2px;
}
#a-not-active{
	color: #E2E1D9;
	text-decoration: none;
	background-color: #1B1A26;
	padding: 5px 8px;
	margin-top: 1px;
	margin-left: 2px;
	border-radius: 3px;
}

#navbarSupportedContent {
	.navbar-nav {
		a:hover {
			background-color: #FFFFFF;
			color: #1B1A26;
		}
	}
}
.icon{
	border-radius: 5px;
	padding: 10px;
}
.nav-title{
	font-family: 'Anton', sans-serif;
	font-size: 25px;
	letter-spacing: 2px;
}
body{
	// background-color: #007bc4;
}
.img-responsive{
	margin-top: 2px;
	height: auto;
	width: 100%;
	// filter: hue-rotate(250deg);
}
.fast{
	font-size: 30px;
	margin-right: 4px;
}

// image card
.card-container {
  position: relative;
  width: 100%;
  height: 480px;
  margin-bottom: 10px;
  // border: 1px solid black;
}

.card-image {
  opacity: s1;
  display: block;
  width: 100%;
  height: 480px;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
}
.card-images {
  opacity: s1;
  display: block;
  width: 100%;
  height: 650px;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-container:hover .card-image {
  opacity: 0.7;
}

.card-container:hover .card-middle {
  opacity: 1;
}

.card-text {
  color: black;
  font-size: 16px;
  padding: 0px;
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;
  // font-family: 'Anton', sans-serif;
}
 .gal{
  background-color: rgba(0,0,0,.5);
  color: white;
  font-size: 16px;
  padding: 8px 32px;
 }
 .mov-bg{
 	background-color: rgba(0,0,0,0.7);
 	border: none;
 	padding: 5px;
 	// padding-bottom: -5PX;
 	border-radius: 10px;
 	color: white;	
 	// display: block;
 }
 .mov-bg:hover {
 	background-color: #1B1A26;
 }
.r-13{
	background-color: yellow;
	margin: 5px;
	font-weight: bolder;
  	font-family: 'Oswald', sans-serif;
  	letter-spacing: 2px;
 	border-radius: 10px;
 	color: black;
 	padding: 4px 5px;
 	border: none;
}
.pg{
	background-color: #0984e3;
	padding: 1px 7px;
}
.g{
	background-color: #4cd137;
	padding: 1px 10px;
}
.r-16{
	background-color: orange;
}
.r-18{
	background-color: #EA2027;
}

.mov-title{
	font-weight: bolder;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	text-shadow: 1px 1px #fff;
}
// end ng image card
.img-cont{
	// margin-top: 38px;
	// margin-bottom: 50px;
}

// practice
.social-links{
	width: 20px;
	height: 20px;
	/*border: 1px solid black;*/
	margin-right: 10px;
	margin-bottom: 5px;

}
// end of practice
.movie{
	font-size: 1.8em;
	font-weight: bolder;
	font-family: 'Oswald', sans-serif;
	background-color: rgba(0,0,0,0.8);
	display: inline-block;
	padding: 8px;
	border-radius: 5px;
	color: white;
	margin: 0;
}
hr.hr-mov{
	border: 1px solid rgba(0,0,0,0.9);
}
.movie-container{
	margin-top: 20px;
	// border: 1px solid black;
	// border-top-left-radius: 70px;
	// border-bottom-right-radius: 70px;
}
.container-about {
  position: relative;
}
.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 15px;
  border-radius: 5px;
}
.text-block:hover {
  background-color: rgba(0,0,0,0.8);	
  box-shadow: 0 0 50px rgba(33,33,33,.2); 
}
.text-block {
	h1{
		font-size: 4vw;
		font-weight: bolder;
	}
}

.container-home {
  position: relative;
}
.text-block-home {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 0px 10px;
  padding-top: 5px;
  border-radius: 50px;
  // border: 3px solid white;
  text-shadow: 2px 2px 4px #000000;
}
.text-block-home:hover {
  background-color: rgba(0,0,0,0.5);	
  box-shadow: 0 0 50px rgba(33,33,33,.2); 
}
.text-block-home {
	h1{
		font-size: 2.5vw;
		font-weight: bolder;
		color: white;
	}
}
html{
	scroll-behavior: smooth;
}
.logo-about{
	width: 60%;
	margin-top: 20px;
	text-align: center;	
}
.logo-2{
	// line-height: 20px;
	// border: 1px solid black;
	margin-top: 0px;
	text-align: center;
	// overflow-x: hidden;
	// border: 1px solid black;
}
footer{
	margin-top: 3px;
}
.mod-title{	
	margin: 0;
	color: white;
}
.mod-tit{
	font-weight: bolder;
}
#jus{
	margin: 0;
	font-size: 16px;
}
.contacts{
	text-align: center;
	color: white;
	background-color: black;
	margin-top: 2px;
	padding: 100px;
}
.contacts h2{
	font-family: 'Oswald', sans-serif;
	font-weight: bolder;
}
.contact-jum{
	border-radius: 0px;
	margin-top: 2px;
}
.con{
	margin: 0px;
}
#map{
	margin-top: 10px;
	width: 100%;
	height: 500px;
}
.botcont{
	color: white;
	text-align: center;
	margin-bottom: 55px; 
}	
.cont-logo{
	font-size: 4em;
	background-color: rgba(255,255,255,0.3);
	display: inline-block;
	padding: 10px 35px;
	border-radius: 50%;
	margin-bottom: 15px;
}
.cont-logo-2{
	font-size: 4em;
	background-color: rgba(255,255,255,0.3);
	display: inline-block;
	padding: 10px 29px;
	border-radius: 50%;
	margin-bottom: 15px;
}
.cont-tit{
	font-family: 'Oswald', sans-serif;
	font-weight: bolder;
	letter-spacing: 1px;
	font-size: 1.5em;
	// margin: 0px;
}
#sad{	
	// color: white;
	font-weight: bolder;
	font-family: 'Oswald', sans-serif;
}
.mar{
	margin: 0px;
	font-weight: bolder;	
}
.marg{
	margin: 0px;	
}
.last-na{
	font-weight: bolder;
	display: inline-block;
	margin: 0;
}
#last-na-talaga{
	text-align: center;
}
.wewe{
	margin-bottom: 60px;
	// border: 1px solid black;
}
.about-title{
	// border: 1px solid black;
	margin-bottom: 0;
}
.haha{
	display: inline-block;
}



// media queries
// @media only screen and (max-width: 360px) {
// 	.card-image {
//   		opacity: s1;
//   		display: block;
//   		width: 100%;
//   		height: 480px;
//   		transition: .5s ease;
//   		backface-visibility: hidden;
//   		border-radius: 5px;
//   		margin-bottom: 10px;
// 	}
// }








